<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Juan Manuel</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Bienvenido a la página de Juan Manuel Rodríguez Gutiérrez</br></br></h1>
		<img src="images/juan.jpg">
	</body>
</html>
